@media screen and (max-width: 1150px){
    .App{
        width: 40%;
    }
}

@media screen and (max-width: 950px){
    .App{
        width: 50%;
    }
}

@media screen and (max-width: 750px){
    .App{
        width: 60%;
    }
}

@media screen and (max-width: 600px){
    .App{
        width: 70%;
    }
}

@media screen and (max-width: 500px){
    .App{
        width: 80%;
    }
}

@media screen and (max-width: 460px){
    .header{
        h1{
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 430px){
    .App{
        width: 90%;
    }
    .header{
        h1{
            font-size: 2.2rem;
        }
    }
}