.App{
    width: 30%;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    .message{
        text-align: center;
        font-size: 3rem;
    }
}