*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #444;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}